.footer-nav {
  background-image: linear-gradient(135deg,
      rgb(24, 42, 115) 0%,
      rgb(21, 31, 75) 0%,
      rgb(32, 144, 172) 89%);

  mat-list-item {
    color: white !important;
  }

  .icon-span {
    min-width: 8px;
  }

  .mat-list-item {
    font-weight: 100;
    font-size: small;
    color: white;
    max-height: 35px;
  }

  .footer-column {
    margin: 20px;
    font-size: small;
    line-height: 15px;
    font-weight: 100;
    min-width: 250px;
  }
}

.copyright-container {
  height: 28px;
  padding: 5px;
  background-color: rgb(29, 29, 29);

  h5 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
  }
}

p {
  margin-top: 0px;
}
