<mat-nav-list fxLayout="column" fxShow="true" fxLayout="column" fxLayout="center center">
  <mat-list-item routerLink="/pro" style="font-size: 28px;margin: 15px;">
    PRO
  </mat-list-item>
  <mat-list-item routerLink="/courses" style="font-size: 28px;margin: 15px;">
    COURSES
  </mat-list-item>
  <mat-list-item routerLink="/guides" style="font-size: 28px !important;margin: 15px;">
    GUIDES
  </mat-list-item>
  <mat-list-item routerLink="/topics" style="font-size: 28px !important;margin: 15px;">
    TOPICS
  </mat-list-item>
  <mat-list-item routerLink="/articles" style="font-size: 28px !important;margin: 15px;">
    ARTICLES
  </mat-list-item>
</mat-nav-list>
