.banner-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("https://firebasestorage.googleapis.com/v0/b/hci-repo.appspot.com/o/section-bg-15%20(1).jpg?alt=media&token=3052c13d-eeb0-455a-af35-6d274cde807b");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  h1 {
    font-size: 4.5em;
    font-weight: 800;
    letter-spacing: .2em;
    line-height: 1.5em;
  }

  h2 {
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

.cta-actions {
  margin-top: 50px;
}

.banner-text {
  padding: 100px;
  text-align: center;
  color: white;

  h2 {
    font-weight: lighter;
  }
}

.mat-outline-button {
  padding: 0 1.15em;
  border-color: white;
  margin: 0 1.25em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-stroked-button {
  margin: 15px;

}

@media screen and (max-width: 800px) {
  .banner-container {
    min-width: 100vw;

    h1 {
      font-size: 2.5em;
      font-weight: 800;
      letter-spacing: .2em;
      line-height: 1.3em;
    }

    h2 {
      font-size: 1.25em;
      line-height: 1.5em;
      font-weight: lighter;
    }
  }
}
