.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-right: 10px !important;
  min-width: 3em;
  line-height: 36.4px
}

.list-actions {
  max-width: 200px;
}

.list-actions-container {
  margin-top: 0px;
  margin-right: 20px;
}
