.course-cover {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 12%;
  background-color: rgb(36, 36, 36);

  span {
    width: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: white;
  }

  h1 {
    font-size: 34px;
    font-weight: 600;
  }

  h2 {
    font-weight: 400;
  }

  h5 {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: rgb(136, 221, 221);

  }

  .fa-chevron-right {
    margin-left: 10px;
    margin-right: 10px;
  }

}

.course-detail-container {
  background-color: white;
  padding: 20px;
  padding-left: 12%;

}

.course-detail-item {
  width:80%;
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1.25px;
  border-color: rgba(214, 214, 214, 0.438) !important;
  background-color: rgba(230, 230, 230, 0.11);
}

.course-content-detail {
    width:80%;
    padding: 20px;
    margin: 15px;
  }
  