.sm-field {
  margin: 10px;
  max-width: 150px;
}

.md-field {
  margin-right: 12px;
  max-width: 250px;
}

.ml-field {
  margin-right: 12px;
  width: 250px;
}

.lg-field {
  margin-right: 12px;
  width: 275px;
}

.form-container {
  padding: 2rem;
}
