<div class="footer-nav" style="min-height: 220px;" fxLayout="column wrap" fxLayoutAlign="start start">
  <div class="footer-column" fxLayoutAlign="start start">
    <div fxLayout="row">
      <mat-nav-list style="margin-left: 20px; padding: 0px;top:0">
        <h5 style="font-size: 14px;margin-left: 15px;font-weight: bolder;color:white;">DESIGN</h5>
        <mat-list-item routerLink="/design/system" routerLinkActive="active">System</mat-list-item>
        <mat-list-item routerLink="/design/foundation" routerLinkActive="active">Foundations</mat-list-item>
        <mat-list-item routerLink="/design/guidelines" routerLinkActive="active">Guidelines</mat-list-item>
        <mat-list-item routerLink="/design/planning" routerLinkActive="active">Planning</mat-list-item>
      </mat-nav-list>
      <mat-nav-list style="margin-left: 20px; padding: 0px;top:0">
        <h5 style="font-size: 14px;margin-left: 15px;font-weight: bolder;color:white;">DEVELOP</h5>
        <mat-list-item routerLink="/docs/getting-started" routerLinkActive="active">Getting Started</mat-list-item>
        <mat-list-item routerLink="/docs" routerLinkActive="active">Documentation </mat-list-item>
        <mat-list-item routerLink="/components" routerLinkActive="active">Components</mat-list-item>
        <mat-list-item routerLink="/recipes" routerLinkActive="active">Recipes</mat-list-item>
      </mat-nav-list>
      <mat-nav-list style="margin-left: 20px; padding: 0px;top:0" fxShow fxHide.lt-sm>
        <h5 style="font-size: 14px;margin-left: 15px;font-weight: bolder;color:white;">RESOURCES</h5>
        <mat-list-item routerLink="/releases" routerLinkActive="active">Release Notes</mat-list-item>
        <mat-list-item routerLink="/privacy" routerLinkActive="active">Privacy</mat-list-item>
        <mat-list-item routerLink="/terms" routerLinkActive="active">Legal</mat-list-item>
      </mat-nav-list>


      <div style="margin-left: 60px;" fxShow fxHide.lt-md>
        <div fxLayout="row">
          <i onClick="window.open('//www.github.com/max-geller/sutro-ui')" class="fab fa-github fa-2x"
            style="color: white;cursor: pointer;"></i>
          <div class="icon-span"></div>
          <i onClick="window.open('//sutro-ui.slack.com/')" class="fab fa-slack-hash fa-2x"
            style="color: white;cursor: pointer;"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyright-container" fxLayoutAlign="start center">
  <h5 style="font-weight: lighter;font-size: x-small;"> © 2020 Sutro Analytics, Inc. All Rights Reserved.</h5>
</div>
