.context-toolbar {
  max-height: 30px;
  background: #000000 !important;
  color: white;

  h5 {
    font-size: 12px;
    color: #fff;
  }
}

.estimate-toolbar {
  max-height: 38px;
  padding-bottom: 5px;
  overflow: hidden;
  background: #455A64 !important;
  h5 {
    font-size: 12px;
    margin-bottom: 8px;
    color: #fff;
  }
}

